html {
    scroll-behavior: auto !important;
}

/* Remove underline for abbr in Folktale */
abbr[title] {
    text-decoration: none;
    border-bottom-width: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}
